@page "/testscreen"
@using BlazorApp1.Services.Interface;
@using Blazorise.RichTextEdit
@inject ITestScreenService TestScreenService
@inject NavigationManager NavigationManager


<h3>TestScreen</h3>

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Table Bordered="true">
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>Command</TableHeaderCell>
                    <TableHeaderCell>Target</TableHeaderCell>
                    <TableHeaderCell>Value</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (var testscreen in ListTestScreen)
                {
                    <TableRow>
                        <TableRowCell>@testscreen.Command</TableRowCell>
                        <TableRowCell>@testscreen.Target</TableRowCell>
                        <TableRowCell>@testscreen.Value</TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    </Column>
</Row>
<h4>Log</h4>
<div style="height:100px; width:100%; overflow-y:scroll; border:solid; border-width:1px;border-color:darkgray">
    <p>


    </p>
</div>
<br />
<Button Color="Color.Primary">Export </Button>
<Button Color="Color.Success">Run </Button>
<Button Color="Color.Light">Show </Button>
<br />
@code {
    private List<BlazorApp1.Models.TestScreen> ListTestScreen;

    protected override async Task OnInitializedAsync()
    {
        ListTestScreen = TestScreenService.GetAllProject().ToList();
    }
    private RichTextEdit richTextEditRef;
    private bool readOnly;
    private string contentAsHtml;
    private string contentAsDeltaJson;
    private string contentAsText;
    private string savedContent;

    public async Task OnContentChanged()
    {
        contentAsHtml = await richTextEditRef.GetHtmlAsync();
        contentAsDeltaJson = await richTextEditRef.GetDeltaAsync();
        contentAsText = await richTextEditRef.GetTextAsync();
    }

    public async Task OnSave()
    {
        savedContent = await richTextEditRef.GetHtmlAsync();
        await richTextEditRef.ClearAsync();
    }
}

