@using BlazorApp1.Services.Interface
@using BlazorApp1.Models
@inject IProjectDetailService _service
@inject IJSRuntime JsRuntime;

<div class="simple-form">

    <div class="form-group">
        <label for="movie-name">Function Name</label>
        <input @bind="@NewFunction.FunctionName" type="text" class="form-control" id="project-name" style="min-width:500px" />
    </div>

    <div class="form-group">
        <label for="year">Milestones</label>
        <input @bind="@NewFunction.Milestones" type="text" class="form-control" id="project-link" style="min-width:500px" />
    </div>

    <button @onclick="SaveFunction" class="btn btn-primary" style="margin:5px;">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary" style="margin:5px;">Cancel</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int ProjectId { get; set; }

    private BlazorApp1.Models.ProjectDetail NewFunction { get; set; }

    protected override void OnInitialized()
    {
        NewFunction = new BlazorApp1.Models.ProjectDetail();
    }

    async void SaveFunction()
    {
        NewFunction.CreateDate = DateTime.UtcNow;
        NewFunction.ModifiedDate = DateTime.UtcNow;
        NewFunction.ProjectId = ProjectId;
        try
        {
            await _service.AddFunction(NewFunction);
            await ModalInstance.CloseAsync(ModalResult.Ok<BlazorApp1.Models.ProjectDetail>(NewFunction));
        }
        catch
        {
            await JsRuntime.InvokeVoidAsync("Error", "Something when wrong");
        }

    }

    async void Cancel()
    {
        await ModalInstance.CancelAsync();
    }

}